# Terraform
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Secrets
*.pem
*.key

# Premium modules - not for public repo
modules/rds/*.tf
modules/monitoring/*.tf
modules/security/*.tf
modules/cicd-github-actions/*.yml
modules/cicd-gitlab/.gitlab-ci.yml
workloadidentity_accessKeys.csv
